<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/resources/images/logo-ico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/agregar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
</head>

<body>


    <div class="main">

        <nav class="navbar">
            <a class="btn-back" href="/"><i class="bi bi-arrow-left-square"></i></a>
            <img src="/resources/images/logo-nav.png" alt="logo">
            <div class="navbar-text">
                <h3><strong>Veterinaria</strong></h3>
                <h5>Los ingenieros</h5>
            </div>
        </nav>


        <div class="agregar-container">
            
            <form>
        
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Id-Mascota</label>
                        <input type="" class="form-control" id="id_mascotas" name="id_mascotas">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Tipo</label>
                        <input type="" class="form-control" id="tipo" name="tipo">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Raza</label>
                        <input type="" class="form-control" id="raza" name="raza">
                    </div>
                </div>
        
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Edad</label>
                        <input type="" class="form-control" id="edad" name="edad">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Nombre</label>
                        <input type="" class="form-control" id="nombre" name="nombre">
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Informacion adicional</label>
                    <textarea class="form-control" id="informacion_adicional" rows="3" name="informacion_adicional"></textarea>
                </div>
        
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Id-clientes</label>
                        <input type="" class="form-control" id="id_mascotas" name="id_mascotas">

                <div class="form-group">
                    <label for="formGroupExampleInput">Nombre del dueño</label>
                    <input type="" class="form-control" id="nombre" name="nombre">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="">Telefono</label>
                    <input type="" class="form-control" id="telefono" name="telefono">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Direccion</label>
                    <textarea class="form-control" id="direccion" rows="3" name="direccion"></textarea>
                </div> 


            </form>
        
        </div>











    </div>


    </div>



</body>

</html>