<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/resources/images/logo-ico.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/index.css">


</head>

<body>


        


        <div class="main" id="container">

            <nav class="navbar navbar-login">
                <img src="/resources/images/logo-nav.png" alt="logo">
                <div class="navbar-text">
                    <h3><strong>Veterinaria</strong></h3>
                    <h5>Los ingenieros</h5>
                </div>
            </nav>

            <div class="opc-menu">

                <a class="opcion opcion-1" href="/agregar">
                    <img src="resources/images/agregar.png" alt="">
                    <p>Registrar nueva mascota</p>
                </a>
                <a class="opcion opcion-2" href="/ver">
                    <img src="resources/images/ver.png" alt="">
                    <p>Ver todos los registros</p>
                </a>
                <a class="opcion opcion-3" href="/eliminar">
                    <img src="resources/images/eliminar.png" alt="">
                    <p>Eliminar registro</p>
                </a>
                <a class="opcion opcion-4" id="opcion-4" href="/administrador">
                    <img src="resources/images/config.png" alt="">
                    <p>ADMINISTRAR CUENTAS</p>
                </a>


            </div>

            <div class="btn-container">
                <a class="a-back" href="logout"><button class="back btn btn-primary btn-outline-white btn-lg px-5"
                        type="button">Cerrar sesion</button></a>
            </div>
        </div>



    <script>
        if (<%= root %> == 1) {


            var config = document.getElementById('opcion-4');
            config.style.display = 'block';

        }

    </script>

</body>

</html>