<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/resources/images/logo-ico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
</head>

<body>





    <div class="main" id="container">

        <nav class="navbar navbar-login">
            <img src="/resources/images/logo-nav.png" alt="logo">
            <div class="navbar-text">
                <h3><strong>Veterinaria</strong></h3>
                <h5>Los ingenieros</h5>
            </div>
        </nav>

        <div class="opc-menu">

            <a class="opcion opcion-1" href="/agregar">
                <img src="resources/images/agregar.png" alt="">
                <p>Registrar nueva mascota</p>
            </a>
            <a class="opcion opcion-2" href="/ver">
                <img src="resources/images/ver.png" alt="">
                <p>Ver todos los registros</p>
            </a>
            <a class="opcion opcion-3" id="opcion-3" href="/eliminar">
                <img src="resources/images/eliminar.png" alt="">
                <p>Eliminar registro</p>
            </a>
            <a class="opcion opcion-4" id="opcion-4" href="/administrador">
                <img src="resources/images/config.png" alt="">
                <p>ADMINISTRAR CUENTAS</p>
            </a>


        </div>

       
            <a class="btn-a-container btn-back btn btn-danger" href="logout">
                <p>Cerrar sesion</p>  
                <i class=" bi bi-box-arrow-left"></i>
            </a>

    </div>



    <script>
        if (<%= root %> == true) {


            var config = document.getElementById('opcion-4');
            config.style.display = 'flex';

        }

    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alertadmin !="undefined" ) { %>
        <script>
            Swal.fire('<%= alertMessage %>').then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
        <% } %>

</body>

</html>