
form div{
    margin-top: 60px;
}

.bi{
    width: 50px;
    height: 30px;
}

.administrador-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 750px;
}

.administrador-container > div{
    padding: 20px;
}

.izquierda {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    height: 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}

.izquierda h2{
    font-size: 1.8rem;
}

.izquierda label{
    font-size: 1.2rem;
}

.izquierda input{
    font-size: 1.2rem;
}

.btn-agregar{
    font-size: 1.5rem;
    width: 130px;
}


.derecha {
    height: 600px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 65%;
}

td, th{
    line-height: 40px;
}

.btn-delete{
    font-size: 0.7em;
}

