.opc-menu {
    padding: 10px;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.opcion {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 200px;
    border-radius: 10px;
    background: white;
    display: block;
    text-decoration: none;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.486) 0px 1px 4px;
    width: 220px;
    padding: 20px;


}



.opcion:hover {
    color: black;
    filter: brightness(0.9);
}

.opcion p {
    text-align: center;
    margin: 0;
    font-size: 1.3rem;
}

.opcion img {
    display: block;
    margin: auto;
    width: 60%;
}

.opcion-4 {
    display: none;
}

.btn-a-container {
    position: absolute;
    left: 3%;
    height: 3.3rem;
}

.btn-a-container p{
    font-size: 1.5rem;
}

.bi{
    display: none;
}



@media only screen and (max-width: 1100px) and (orientation: portrait) {
    .opc-menu{
        height: 85vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    .opcion {
        margin: 30px;
        display: flex;
        height: 280px;
        width: 350px;
        align-items: center;
        padding: 10px 20px;
    }

    .opcion img{
        width: 160px;
        padding: 0;
    }
    .opcion p{
        font-size: 1.8rem;

    }

    .opcion-4 {
        display: none;
    }

    .btn-a-container {
        top: 25px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0!important;
    }

    .btn-a-container:hover {
        filter: brightness(0.8);
    }
    
    .bi{

        color: white;
        font-size: 2rem;
        display: block;
        padding: 0;
  
    }

    .btn-back p{
        
        display: none;
    }
}