.carousel {
    width: 50%;
    
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}


.login {
    background-color: white;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.623) 0px 1px 4px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    text-align: center;
}


@media screen and (orientation: portrait){
    .login{
        width: 600px;
        padding: 50px;
    }
    h2{
        font-size: 70px;
    }
    p, label, input{
        font-size: 3rem!important;
    }

    button{
        font-size: 4rem!important;
    }

 

    .login__item{
        margin-top: 40px;
    }
}