.carousel {
    width: 50%;
    
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}


.login {
    background-color: white;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.623) 0px 1px 4px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    text-align: center;
}


@media only screen and (max-width: 1100px) and (orientation: portrait){
    .main{
        display: block;
    }
    .login{
        width: 320px;
        margin: 100px auto;
    }
    
}