* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.btn-back{
  position: absolute;
  left: 30px;
}

body {
  background-color: #eee;
}

.font-white {
  color: white;
}

.main {
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

.navbar {
  position: absolute;
  border-radius: 5px;
  background: -webkit-linear-gradient(to right,
      #5bcebf,
      #5bcebf,
      #69d2e7,
      #2e97b7);
  background: linear-gradient(to right, #5bcebf, #5bcebf, #69d2e7, #2e97b7);
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  height: 96px;
}

.navbar img {
  width: 80px;
}

.navbar-text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: white;
}

.navbar-text h3 {
  font-size: 160%;
  margin: 0;
}

.navbar-text h5 {
  font-size: 120%;
  margin: 0;
}

.body {
  /*contenedor principal, no le llame container porque bootstrap le pone estilos*/
  width: 85%;
  margin: auto;
  height: 90vh;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.219) 0px 1px 4px;
  border-radius: 5px;
  padding: 20px;
  padding-top: 100px;
}