

.ticket{
    display: flex;
    width: 600px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    height: 600px;
    flex-direction: column;
    justify-content: space-evenly!important;
    align-items: center;

}

.btn-a-container{
    font-size: 1.4rem;
    padding: 10px 10px;
    
}

@media only screen and (max-width: 1100px) and (orientation: portrait) {
    .btn-a-container{
        position: relative!important;
        z-index: 0!important;
    }
}